<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Satelites.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Satelites.Properties.Settings>
      <setting name="sshTimeOut" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="sshSendKeepAliveTime" serializeAs="String">
        <value>00:25:00</value>
      </setting>
      <setting name="superUserCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="sshUser" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="sshPass" serializeAs="String">
        <value>121212qw</value>
      </setting>
      <setting name="sshHost" serializeAs="String">
        <value>10.10.20.196</value>
      </setting>
      <setting name="MapInitPointLat" serializeAs="String">
        <value>19.255207</value>
      </setting>
      <setting name="MapInitPointLng" serializeAs="String">
        <value>-103.689535</value>
      </setting>
      <setting name="mapRadioCircle" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="mapSegments" serializeAs="String">
        <value>50</value>
      </setting>
    </Satelites.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="dbsatelitesEntities" connectionString="metadata=res://*/Models.dbSatelites.csdl|res://*/Models.dbSatelites.ssdl|res://*/Models.dbSatelites.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=dbsatelites&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>