<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogFile="Nlog.log">

  <variable name="LogServer" value="." />
  <variable name="Db" value="GSMPI" />
  <variable name="TblLogs" value="tblLogs" />
  <variable name="DbUsr" value="sa" />
  <variable name="DbPwd" value="as" />

  <targets>
    <target name="database" xsi:type="Database" keepConnection="true" dbProvider="System.Data.SqlClient" connectionString="data source=${LogServer};initial catalog=${Db};integrated security=false;persist security info=True;User ID=${DbUsr};Password=${DbPwd}" commandText="INSERT INTO ${TblLogs}(EventDateTime, EventLevel, MachineName, EventMessage, Exception) VALUES (@EventDateTime, @EventLevel, @MachineName, @EventMessage, @Exception)">
      <parameter name="@EventDateTime" layout="${date:s}" />
      <parameter name="@EventLevel" layout="${level}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@EventMessage" layout="${message}" />
      <parameter name="@Exception" layout="${exception:format=tostring}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="database" />
  </rules>
</nlog>