<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GMap.NET.WindowsForms" version="1.7.1" targetFramework="net45" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net45" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net45" />
</packages>