<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HLR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
  <userSettings>
    <HLR.Properties.Settings>
      <setting name="MapInitPointLat" serializeAs="String">
        <value>23.751272</value>
      </setting>
      <setting name="MapInitPointLng" serializeAs="String">
        <value>-103.734932</value>
      </setting>
      <setting name="DoHealthCheck" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="GetBalance" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="HLRApiUrl" serializeAs="String">
        <value>https://www.hlr-lookups.com/</value>
      </setting>
      <setting name="HLRApiUser" serializeAs="String">
        <value>sda130868-api-c7d2495d06f1</value>
      </setting>
      <setting name="HLRApiPass" serializeAs="String">
        <value>jWRq-NNjw-J$T@-RNVB-$j!V-s6*d</value>
      </setting>
      <setting name="HLRRoute" serializeAs="String">
        <value>XT5</value>
      </setting>
      <setting name="GoogleApiKey" serializeAs="String">
        <value>AIzaSyDSigfh6sBddlcVoNcYoV6WNpraYHVMh-A</value>
      </setting>
      <setting name="GoogleApi" serializeAs="String">
        <value>https://www.googleapis.com/</value>
      </setting>
      <setting name="GoogleApiRequest" serializeAs="String">
        <value>geolocation/v1/geolocate?key={key}</value>
      </setting>
    </HLR.Properties.Settings>
  </userSettings>
</configuration>